[suggestion] own Time type (would make calls to flaky API server easier)

I tried `oapi-codegen` for client generation. Using the client, I encountered that data format the REST API _server_ provides is not in line with https://swagger.io/docs/specification/data-models/data-types/#string (that requires [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6)). 

Here are 2 samples of the flaky format: 2017-07-21T17:32:2938938 2017-07-21T17:32:3939937-07:00

Using code generated by `oapi-codegen` would be substantial easier if

1. There would be an extra type for time, e.g. `type Time time.Time`
2. This `Time` type would be used in the generated code, e.g. every occurence of  `*time.Time` would be replaced with `*Time`.

With this changes in place, customising the JSON deserialisation would be possible with something like:

```go
// https://stackoverflow.com/questions/45303326/how-to-parse-non-standard-time-format-from-json
const dtNoZ = "2006-01-02T15:04:05.999999999"
const dtNoZ2 = "2006-01-02T15:04:05.999999999-07:00"

type Time time.Time

// Implement Marshaler and Unmarshaler interface
func (j *Time) UnmarshalJSON(b []byte) error {
    s := strings.Trim(string(b), "\"")
    t, err := time.Parse(dtNoZ, s)
    if err != nil {
		t2, err := time.Parse(dtNoZ2, s)
		if err != nil {
			return err
		}
		*j = Time(t2)
		return nil
	}
    *j = Time(t)
    return nil
}
    
func (j *Time) MarshalJSON() ([]byte, error) {
    return json.Marshal(time.Time(j))
}

// Maybe a Format function for printing your date
func (j *Time) Format(s string) string {
    t := time.Time(j)
    return t.Format(s)
}
```


Issue #891 requested the ability to use a custom Time type for date-time fields to handle non-RFC3339 timestamps from flaky APIs. PR #2223 (merged Feb 2026) added the output-options.type-mapping configuration which allows overriding the string/date-time format to any custom Go type with a specified import path. A repro confirmed that specifying type-mapping.string.formats.date-time with a custom type generates code using that type instead of time.Time, enabling custom UnmarshalJSON/MarshalJSON implementations. The feature is documented in configuration-schema.json and has an example under examples/output-options/type-mapping/.

Closing as fixed. If you can still reproduce on a recent release, please reopen with the exact spec and version used.